<div class='section-header clearfix'>
  <!-- <h2 class="pull-left">
  		<span class='lnr lnr1' style='vertical-align: top; margin-top: 2px'></span>
  		<%= section_name %>
  </h2> -->
	
	<div class="line"></div>
	<div class="title"><%=section_name%>
		<div class="end"></div>
	</div>
	
	<!-- <a href="" class="details">详细条款</a> -->

 <!--  <% if(typeof need_tiaokuan != 'undefined' && need_tiaokuan){ %>
	<a class="section-details pull-right" id="<%=a_id %>" onclick="Pop('<%=Ttitle %>','<%=content %>','<%=url %>')">详细条款</a>
  <% } %> -->
</div>
